@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;
    margin-top: 160px;
    background: url(https://i.ibb.co/D5R4pyX/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 580px;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

h3 span {
    color: #FFC700;
}

h1 {
    color: #FFC700;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Emilys Candy', cursive;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: #ffffff;
    opacity: .7;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    opacity: 0.6;
}

a:hover,
.btn-primary {
    text-decoration: none;
    color: black;
    background-color: #FFC700;
    opacity: 1;
}